0 16 * * * root /usr/local/bin/python /usr/local/officeman/time-tracker.py --system=redmine --api-key={API_ACCESS_TOKEN} --vacation-project-id={VACATION_PROJECT_ID} --{PROJECT_ID}=193 --{SUB_PROJECT_ID}=103 --hours={COUNT_OF_HOURS} >> /var/log/cron.log 2>&1
